<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/global/styles.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Login</title>
  </head>
  <body>
    <section class="container">
      <figure class="image">
        <img src="/images/undraw_javascript_frameworks_-8-qpc.svg" alt="music">
      </figure>

      <div class="form-container">
      
    	<div th:if="${error != null}" th:text="${error}" class="alert-danger"></div>

        <h1>Login</h1>
        <form action="/logar" method="post">
          <input 
            type="email" 
            name="email"
            placeholder="exemple@exemple.com"
            class="inputs-form" 
          />
          <input 
            type="password" 
            name="password"
            class="inputs-form"
            placeholder="Digite sua senha" 
          />
          
	         

          <button class="btn-form-submit" type="submit">
            Entrar
          </button>

          <a href="/createAccount" class="register">
            Criar conta
          </a>
        </form>
      </div>
    </section>
  </body>
</html>